.view-JsonEditorView {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.view-JsonEditorView > *.editor {
    flex: 1 1 auto;
    background-color: var(--theme-color-input);
    color: var(--theme-color-on-input);
}

.view-JsonEditorView.invalid > *.editor {
    box-shadow: 0 0 1px 0.25em var(--theme-color-error) inset;
}

.view-JsonEditorView > *:first-child {
    flex: 0 0 auto;
}
