.view-scene-ModelButtonView {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-scene-ModelButtonView > * {
    flex: 0 0 auto;
}

.view-scene-ModelButtonView > button.model {
    flex: 1 1 auto;
    font: inherit;
    border: none;
    background-color: var(--theme-color-primary);
    color: var(--theme-color-on-primary);
    border-radius: 0.25rem;
    box-shadow: var(--theme-shadow-button);
    margin: 0.5rem;
    padding: 0 0.5rem;
    max-width: calc(100% - 4rem);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.view-scene-ModelButtonView > button.model div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-scene-ModelButtonView > button.model > div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view-scene-ModelButtonView > button.model > div:last-child {
    opacity: 0.5;
    font-size: 80%;
}
