.view-CameraView div.transfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: 2rem 0;
}

.view-CameraView div.transfo > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.view-CameraView div.transfo div.num {
    font-family: monospace;
}

.view-CameraView div.center {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.view-CameraView div.center > * {
    width: 8rem;
}

.view-CameraView div.extra-params {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.25rem;
}

.view-CameraView header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.view-CameraView header > *:last-child {
    flex: 0 0 auto;
}
